@import '../Variables/Variables.scss';

*,
*::after,
*::before {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

@mixin flex() {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    // border: 2px solid blue;
    border-bottom: 1px solid $Grayish-blue;
    width: 80%;
    margin: auto;
    display: flex;
    list-style: none;

    #logo {
        margin-right: 2em;
    }

    li {
        color: $Dark-grayish-blue;
        padding-bottom: 1.75em;

        &:not(#avatar) {
            margin-right: 1.25em;
            padding-top: 1.5em;
        }

        &:not(.ml):hover:not(#avatar):hover:not(#logo):hover {
            border-bottom: 3px solid $Orange;
            cursor: pointer;
            color: $Black;
        }
    }

    #avatar {
        padding-top: 0.75em;
    }
}

.ml {
    margin-left: auto;
    position: relative;
}

.cart {
    // border: 2px solid rebeccapurple;

    &:hover {
        cursor: pointer;
        fill: $Black;
    }
}

.cart-items {
    background-color: $Orange;
    color: $White;
    padding: 0.1em 1em;
    font-size: 10px;
    border-radius: 20px;
    position: absolute;
    top: 1.6em;
    right: -15px;
}

.avatar {
    // border: 2px solid red;
    border-radius: 100%;
    @include flex();
    width: 3em;

    &:hover {
        outline: 2px solid $Orange;
        cursor: pointer;
    }
}