@import '../Variables/Variables.scss';

*,
*::after,
*::before {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

@mixin flex() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin mobile {

    @media screen and (max-width:775px) {
        @content
    }
}

.navbar {
    // border: 2px solid blue;
    border-bottom: 1px solid $Grayish-blue;
    width: 80%;
    margin: auto;
    display: flex;
    list-style: none;

    @include mobile() {
        width: 100%;
        padding: 0 2em;
        border-bottom: none;
    }

    #logo {
        margin-right: 2em;
    }

    li {
        color: $Dark-grayish-blue;
        padding-bottom: 1.75em;

        &:first-child {
            display: none;

            @include mobile() {
                display: block;
            }
        }

        &:not(#avatar) {
            margin-right: 1.25em;
            padding-top: 1.5em;
        }

        &:not(.ml):hover:not(#avatar):hover:not(#logo):hover {
            border-bottom: 3px solid $Orange;
            cursor: pointer;
            color: $Black;
        }

        @include mobile() {
            &:not(#logo):not(#avatar):not(.ml):not(&:first-child) {
                display: none;
            }
        }

    }

    #avatar {
        padding-top: 0.75em;
    }
}

#hamburger-icon {
    width: 2rem;
}

.logo {
    width: 8.4rem;
}

.ml {
    margin-left: auto;
    position: relative;
}

.cart {
    // border: 2px solid rebeccapurple;
    width: 1.5rem;

    &:hover {
        cursor: pointer;
        fill: $Black;
    }
}

.cart-items {
    background-color: $Orange;
    color: $White;
    padding: 0.1em 1em;
    font-size: 10px;
    border-radius: 20px;
    position: absolute;
    top: 1.6em;
    right: -15px;
}

.checkout {
    width: 25%;
    position: absolute;
    top: 10%;
    left: 70%;
    background: $White;
    padding: 1em;
    box-shadow: 0 0 15px $Grayish-blue;
    @include mobile(){
        padding: unset;
    }

    @include mobile() {
        width: 90%;
        height: 250px;
        left: 10%;
        transform: translateX(-5%);
        z-index: 4;
        border-radius: 10px;
        box-shadow: none;
    }

    span {
        color: $Black;
        font-weight: 700;
        &:not(&:last-child){
            margin-left: 1em;
        }
    }

    hr {
        border-color: $Grayish-blue;
        @include mobile(){
            margin: 1.75em auto;
        }
    }

    button:not(.dustbin) {
        width: 100%;
        border-radius: 10px;
        font-family: inherit;
        font-weight: 700;
        padding: 1em;
        color: $White;
        background-color: $Orange;

        &:hover {
            opacity: 0.75;
        }
        @include mobile(){
            width: 90%;
            margin: 1em;
        }
    }

}

.empty-cart {
    text-align: center;
    margin: 2.7em auto;
    color: $Dark-grayish-blue;
    font-weight: 700;
}

.unhide {
    visibility: visible;
}

.hide {
    visibility: hidden;
}

.checkout-flex {
    // border: 2px solid purple;
    @include flex();
    justify-content: space-between;
    @include mobile(){
        margin: 0 1em;
    }
}

.checkout-thumbnail-img {
    width: 17.5%;

    img {
        border-radius: 7px;
    }
}

.avatar {
    // border: 2px solid red;
    border-radius: 100%;
    @include flex();
    width: 3em;

    &:hover {
        outline: 2px solid $Orange;
        cursor: pointer;
    }
}