@import '../Variables/Variables.scss';

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.hero-container {
    // border: 2px solid red;
    width: 70%;
    margin: 5em auto;
    display: flex;
    justify-content: space-between;
}

.sneaker-preview {
    // border: 2px solid purple;
    display: block;
    width: 45%;
}

.product {
    // border: 2px solid orange;
    margin-bottom: 1.5em;
    height: 79%;

    img {
        border-radius: 20px;
        height: 100%;
        object-fit: cover;
    }

    &:hover {
        cursor: pointer;
    }
}

.thumbnail-flex {
    // border: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.thumbnail {
    width: 20%;
    border-radius: 10px;
    @include flex();

    img {
        border-radius: 10px;
    }

    &:hover,
    &:focus,
    &:active {
        cursor: pointer;
        opacity: 0.7;
    }

    &:focus,
    &:active {
        border: 2px solid $Orange;
    }
}

.sneaker-description {
    // border: 2px solid purple;
    display: block;
    width: 42.5%;
}

h5 {
    margin-top: 20%;
    text-transform: uppercase;
    color: $Orange;
    letter-spacing: 2px;
    font-weight: 700;
}

h1 {
    font-weight: 700;
}

p {
    color: $Dark-grayish-blue;
}

.price {
    // border: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 32.5%;
    margin-bottom: 0.75em;

    h2 {
        margin: 0%;
        padding: 0%;
    }

}

.discount {
    font-weight: 700;
    color: $Orange;
    background-color: $Pale-orange;
    padding: 0.25em;
    border-radius: 5px;
}

s {
    color: $Grayish-blue;
    font-weight: 700;
}

.flex {
    // border: 2px solid blue;
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

.numOfItems {
    width: 40%;
    @include flex();
    justify-content: space-between;
    font-weight: 700;
    background-color: $Light-grayish-blue;

}

.addToCart {
    width: 55%;
    @include flex();
    background-color: $Orange;
    font-family: inherit;
    color: $White;
    font-weight: 700;

    img {
        // border: 2px solid green;
        margin-right: 0.5em;
        fill: $White;
        width: 1.25rem;
    }

    &:hover {
        opacity: 0.75;
    }
}

.numOfItems,
.addToCart {
    border-radius: 10px;
    padding: 1em;

}

.overlay {
    width: 100%;
    height: 130vh;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: hsla(0, 0%, 0%, 0.75);
}

.hide {
    visibility: hidden;
}

.unhide {
    visibility: visible;
}

.lightbox-flex {
    // border: 2px solid white;
    width: 550px;
    height: 470px;
    margin: 15vh auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.product-container {
    // border: 2px solid yellow;
    width: 90%;
    height: 100%;
    display: flex;
    position: relative;
    overflow: hidden;

    .lightbox-product {
        position: absolute;
        width: 100%;
        height: 100%;

        img {
            border-radius: 20px;
        }

        &:nth-of-type(2) {
            left: 100%;
        }

        &:nth-of-type(3) {
            left: 2 * 100%;
        }

        &:nth-of-type(4) {
            left: 3 * 100%;
        }
    }
}

img[alt="cross-icon"] {
    position: absolute;
    top: -2em;
    left: 90%;
    z-index: 3;
    &:hover {
        cursor: pointer;
        color: $Orange;
        fill: $Orange;
    }
}

img[alt="next-icon"],
img[alt="previous-icon"] {
    position: relative;
    padding: 1em;
    border-radius: 100%;
    background: $White;
    cursor: pointer;
    z-index: 3;
}

img[alt="next-icon"] {
    transform: translateX(-50%);
}

img[alt="previous-icon"] {
    transform: translateX(50%);
}