img {
  max-width: 100%;
  max-height: 100%;
}

.hero-container {
  width: 70%;
  margin: 5em auto;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 775px) {
  .hero-container {
    flex-direction: column;
    width: 100%;
    margin: 0%;
  }
}

.sneaker-preview {
  display: block;
  width: 45%;
}
@media screen and (max-width: 775px) {
  .sneaker-preview {
    display: none;
  }
}

.product {
  margin-bottom: 1.5em;
  height: 79%;
}
.product img {
  border-radius: 20px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product:hover {
  cursor: pointer;
}

.thumbnail-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.thumbnail {
  width: 20%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.thumbnail img {
  border-radius: 10px;
}
.thumbnail:hover, .thumbnail:focus, .thumbnail:active {
  cursor: pointer;
  opacity: 0.7;
}
.thumbnail:focus, .thumbnail:active {
  border: 2px solid hsl(26, 100%, 55%);
}

.sneaker-description {
  display: block;
  width: 42.5%;
}
@media screen and (max-width: 775px) {
  .sneaker-description {
    width: 90%;
    margin: auto;
  }
}

h5 {
  margin-top: 20%;
  text-transform: uppercase;
  color: hsl(26, 100%, 55%);
  letter-spacing: 2px;
  font-weight: 700;
}
@media screen and (max-width: 775px) {
  h5 {
    margin-top: 10%;
  }
}

h1 {
  font-weight: 700;
}

p {
  color: hsl(219, 9%, 45%);
}
@media screen and (max-width: 775px) {
  p {
    line-height: 1.25em;
    font-size: 15px;
  }
}

.price {
  display: flex;
  flex-direction: column;
  width: 32.5%;
  margin-bottom: 0.75em;
}
@media screen and (max-width: 775px) {
  .price {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.price h2 {
  margin: 0%;
  padding: 0%;
}
@media screen and (max-width: 775px) {
  .price {
    width: 100%;
  }
}

.discount {
  font-weight: 700;
  color: hsl(26, 100%, 55%);
  background-color: hsl(25, 100%, 94%);
  padding: 0.25em;
  border-radius: 5px;
}

s {
  color: hsl(220, 14%, 75%);
  font-weight: 700;
}

.discount-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 775px) {
  .flex {
    flex-direction: column;
  }
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.numOfItems {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  background-color: hsl(223, 64%, 98%);
}
@media screen and (max-width: 775px) {
  .numOfItems {
    width: 100%;
  }
}

.addToCart {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(26, 100%, 55%);
  font-family: inherit;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
}
@media screen and (max-width: 775px) {
  .addToCart {
    margin-top: 1em;
    width: 100%;
  }
}
.addToCart img {
  margin-right: 0.5em;
  fill: hsl(0, 0%, 100%);
  width: 1.25rem;
}
.addToCart:hover {
  opacity: 0.75;
}

.numOfItems,
.addToCart {
  border-radius: 10px;
  padding: 1em;
}

.overlay {
  border: 2px solid black;
  width: 100%;
  height: 130vh;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: hsla(0, 0%, 0%, 0.75);
}

.hide {
  visibility: hidden;
}

.unhide {
  visibility: visible;
}

.lightbox-flex {
  width: 550px;
  height: 470px;
  margin: 15vh auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.sneaker-flex {
  width: 100%;
  height: 400px;
  display: none;
}
@media screen and (max-width: 775px) {
  .sneaker-flex {
    display: block;
  }
}

.product-container {
  width: 100%;
  height: 95%;
  display: flex;
  position: relative;
  overflow: hidden;
}
.product-container .lightbox-product {
  position: absolute;
  width: 100%;
  height: 100%;
}
.product-container .lightbox-product img {
  border-radius: 20px;
}
@media screen and (max-width: 775px) {
  .product-container .lightbox-product img {
    border-radius: 0;
  }
}
.product-container .lightbox-product:nth-of-type(2) {
  left: 100%;
}
.product-container .lightbox-product:nth-of-type(3) {
  left: 200%;
}
.product-container .lightbox-product:nth-of-type(4) {
  left: 300%;
}

img[alt=cross-icon] {
  position: absolute;
  top: -2em;
  left: 90%;
  z-index: 3;
}
img[alt=cross-icon]:hover {
  cursor: pointer;
  color: hsl(26, 100%, 55%);
  fill: hsl(26, 100%, 55%);
}

img[alt=next-icon],
img[alt=previous-icon] {
  position: relative;
  padding: 1em;
  border-radius: 100%;
  background: hsl(0, 0%, 100%);
  cursor: pointer;
  z-index: 3;
}
@media screen and (max-width: 775px) {
  img[alt=next-icon],
  img[alt=previous-icon] {
    position: absolute;
    top: 40%;
  }
}

img[alt=next-icon] {
  transform: translateX(-50%);
}
@media screen and (max-width: 775px) {
  img[alt=next-icon] {
    left: 100%;
    transform: translateX(-150%);
  }
}

img[alt=previous-icon] {
  transform: translateX(50%);
}/*# sourceMappingURL=Hero.css.map */